#slideshow {
    .f-carousel {
        position: relative;
        overflow: hidden;
        width: 100%;
    }

    .f-carousel__slide {
        display: inline-block;
        width: 100%;
        transition: transform 0.5s ease;
    }
    .carousel__nav {
        button {
            color: white;
        }
        svg {
            stroke-width: 4;
        }
    }
    .f-carousel__dots {
        display: none !important;
    }
}

.main-container {
    @apply lg:px-9 md:px-4 sm:px-3 px-3;

    max-width: 1600px;
    margin: auto;
}

.height-spacing {
    min-height: calc(100vh - 265px);
}
.main-spacing {
    border-top: 70px solid transparent;

    @media (max-width: 1023px) {
        border-top: 81px solid transparent;
    }
}

.primary-color {
    @apply text-[#C51A24];
}

.bg-primary-color {
    @apply bg-[#C51A24];
}
.secondary-color {
    @apply text-black;
}
.title-font {
    @apply secondary-color font-bold uppercase tracking-[2.4px] text-[12px];
}

.mini-card {
    display: block;
    &.contain {
        &:hover {
            border-radius: 21px 21px 21px 21px;
            border: 1px solid #c51a24;
        }
    }
    // border: 1px solid #c51a24;

    img {
        border-radius: 20px 20px 0 0px;
    }
    .mini-card-bottom {
        padding: 10px 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: 1px solid rgba(0, 0, 0, 0.0784313725);
        border-radius: 0px 0px 20px 20px;
        transition: border 0.3s ease;
    }

    .title {
        @apply font-bold text-[14px];
    }
    .location {
        @apply flex flex-col  gap-3;

        i {
            @apply primary-color;
        }
    }
}

.movie-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    img {
        border-radius: 20px;
    }
    .card-bottom {
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        gap: 11px;

        .genres {
            @apply flex flex-wrap gap-3;
        }

        .genres-text {
            @apply border border-gray-300 px-3 py-1 text-[12px] rounded-full;
        }
    }
    .title {
        @apply font-bold leading-[30px] text-[15px] capitalize;
    }
}
.no-overflow {
    @apply relative overflow-hidden;

    img {
        @apply duration-1000;
    }
    .img-div {
        border-radius: 20px;
    }

    &:hover {
        img {
            border-radius: 20px;
            -ms-transform: scale(1.2);
            /* IE 9 */
            -webkit-transform: scale(1.2);
            /* Safari 3-8 */
            transform: scale(1.2);
            transition-duration: 2000ms;
        }
    }
}

footer {
    @apply bg-black main-container pt-20;
    .footer-title {
        @apply font-bold uppercase tracking-[1.9px] text-[12px] text-white pb-5;
    }

    i {
        @apply text-[#F5F5F5] opacity-70 text-[14px];
    }
    span {
        @apply text-[#F5F5F5] opacity-70 text-[12px];
    }
    .a-text {
        @apply text-gray-300 text-[12px];
    }
}
.nav-bar {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.0705882353);
    .nav-text {
        @apply uppercase ltr:text-[10px] rtl:text-[12px] tracking-[1.95px] font-bold hover:!text-[#c51a24];
    }
    &.main {
        position: fixed;
        z-index: 98;
        height: 70px;
        width: 100%;
        transition: 0.5s;
        top: 0;

        // Default text style
        // .nav-text {
        //     @apply text-white;
        // }

        &.scrolled {
            @apply bg-white;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

            .nav-text {
                @apply text-black;
            }
        }

        &.background-white {
            .nav-text {
                @apply text-black;
            }
        }
    }
}

.custom-select {
    @apply lg:w-[400px]  md:w-[400px] tracking-[1.95px] sm:w-full w-full sm:text-[12px] text-[10px];
    border: 1px solid rgba($color: #000000, $alpha: 0.3);
    border-radius: 10px;
    appearance: none !important;
    background: url("/public/images/arrow-drop-down.svg");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 1em 1.5em;
}
[dir="rtl"] .custom-select {
    @apply tracking-[0px];
    background-position: left 0.5rem center;
}
.search-form-input {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1019607843);
    display: flex;
    justify-content: space-around;
    input {
        border: unset;
        outline: unset;
        width: 80%;
        @apply sm:text-[13px] text-[10px];
    }
    input::placeholder {
        @apply font-bold text-black tracking-[1.95px];
    }

    input:focus {
        outline: 0px !important ;
    }
}

.banner {
    position: relative;
    .box-position {
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .banner-title {
        @apply text-white capitalize tracking-[1px] font-bold sm:text-[19px] text-[14px] text-center;
    }
    .banner-description {
        @apply opacity-60 text-white max-w-[340px] items-center text-center sm:text-[12px] text-[10px];
    }
    img {
        @apply brightness-50;
    }
}

.images-bordered {
    .image-bordered {
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
    }

    .border-image {
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        padding: 10px;
        border: 1px solid;
        border-bottom-width: 0px;
        border-top-width: 0px;
    }
    .border-image2 {
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;

        padding: 10px;
        border: 1px solid;

        border-top-width: 1px;
    }
    p {
        @apply text-[12px] opacity-60 pt-2;
    }
    strong {
        @apply font-bold text-[14px] capitalize  tracking-[1px];
        opacity: 1 !important;
    }
}

.images-bordered-four {
    .image-bordered1 {
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    .image-bordered2 {
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
    }

    .border-image {
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        padding: 10px;
        border: 1px solid;
        border-bottom-width: 0px;
        border-top-width: 0px;
    }
    .border-image2 {
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;

        padding: 10px;
        border: 1px solid;

        border-top-width: 1px;
    }
    p {
        @apply text-[12px] opacity-60 pt-2;
    }
    strong {
        @apply font-bold text-[14px] capitalize  tracking-[1px];
        opacity: 1 !important;
    }

    // @media (max-width: 640px) {
    //     .border-image-bottom-right{
    //         transform: translate(7px, -58px) !important;
    //     }

    //     .border-image-top-left {

    //         transform: translate(-8px, -6px) !important;

    //     }

    //     .border-image-bottom-left{
    //         transform: translate(-8px, -56px) !important;
    //     }

    // }
}
.mobile-menu-dimmer {
    @apply fixed top-0 left-0 right-0 bottom-0 bg-black opacity-30 z-40;
}

.mobile-menu {
    @apply fixed top-0 h-dvh left-0 w-[300px] bg-black z-50;

    .close {
        display: flex;
        height: 4rem;
        align-items: center;
        padding: 1rem;
        font-size: 1.5rem;
        line-height: 2rem;
        --tw-text-opacity: 1;
        color: rgb(209 213 219 / var(--tw-text-opacity));
    }
}
.board-member {
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.0705882353);
    border-radius: 20px;
    padding: 15px;
    box-sizing: border-box;
    img {
        border-radius: 20px;
    }
    .name {
        @apply ltr:text-left rtl:text-right;
        // text-align: left;
        font-weight: 800;
        line-height: 23px;
        font-size: 14px;
        letter-spacing: 0px;
        color: #000000;
        text-transform: capitalize;
    }
    .position {
        @apply ltr:text-left rtl:text-right;
        font-weight: 700;
        line-height: 25px;
        margin-bottom: 10px;
        font-size: 12px;
        letter-spacing: 1.6px;
        color: #c51a24;
        text-transform: uppercase;
    }
    .desc {
        @apply ltr:text-left rtl:text-right;
        font-weight: 600;
        line-height: 20px;
        font-size: 12px;
        letter-spacing: 0px;
        color: #000000;
        opacity: 0.5;
    }
}

.company_purpose {
    p {
        @apply text-[12px] opacity-60 pt-2;
    }
    strong {
        @apply font-bold text-[14px]  tracking-[1px];
        opacity: 1 !important;
    }
}

.paragraph {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    .left {
        display: flex;
        flex-wrap: wrap;
        width: 45%;

        .image-tab {
            border-radius: 50px 50px 50px;
            background: red;
            padding: 10px;
            width: 44.5%;
            position: relative;
            margin: 1%;
            aspect-ratio: 4/3;

            &::after {
                content: "";
                position: absolute;
                background: white;
                top: 2px;
                right: 1px;
                left: 1px;
                bottom: 2px;
                border-radius: 50px 0 50px;
            }
            img {
                position: relative;
                z-index: 3;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50px 0 50px;
            }

            &.opposite {
                &::after {
                    border-radius: 0px 50px 0px;
                }
                img {
                    border-radius: 0 50px 0;
                }
            }
            &.full {
                width: 100%;
                aspect-ratio: 4/2;
            }
            &.no-border {
                background: white;
            }
            &.one-full {
                width: 100%;
            }
        }
    }
    .right {
        width: 50%;
        line-height: 19px;
        .title {
            font-weight: 900;
            font-size: 16px;
            line-height: 23px;
            text-transform: capitalize;
        }
        .description {
            opacity: 0.6;
            font-weight: 600;
            font-size: 12px;
            line-height: 22px;
        }
    }
    //     @media #{$mediaquery-xsm},#{$mediaquery-sm},#{$mediaquery-md},#{$mediaquery-lg} {

    //         .left{
    //             width: 100%;
    //             margin-bottom: 50px;
    //             .image-tab{
    //                 width: 100%;
    //                 &.no-image{
    //                     height: 0;
    //                 }
    //             }

    //         }
    //         .right{
    //             margin-top: 50px;
    //             width: 100%;
    //         }
    //     }
}
.button {
    cursor: pointer;

    line-height: 40px;
    padding: 0 10px;
    color: white;

    background-color: transparent;

    border: solid 1px;
    border-radius: 50px;
    border-image: linear-gradient(to left, #743ad5 0%, #d53a9d 100%);
    border-image-slice: 1;

    clip-path: polygon(
        0 0,
        -28px 0,
        3px 1px,
        20px 1px,
        72px 0,
        100% 0%,
        100% 95%,
        0% 99%
    );
}
.border-image {
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 10px;
    border: 1px solid;
    border-bottom-width: 0px;
    border-top-width: 0px;
}

.border-image-wrapper {
    border: 15px solid transparent;
    .border-image-bottom-left {
        position: absolute;
        bottom: 0;
        left: 0;
        width: calc(100% - 40%);
        height: calc(100% - 40%);
        transform: translate(-15px, 15px);
        border-bottom-left-radius: 50px;
        border-bottom-color: #c51a24;

        border-bottom-width: 4px;
        border-left-color: #c51a24;
        border-left-width: 2px;
    }

    .border-image-top-right {
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100% - 40%);
        height: calc(100% - 40%);
        transform: translate(15px, -15px);
        border-top-right-radius: 50px;
        border-top-color: #c51a24;
        border-top-width: 4px;
        border-right-color: #c51a24;
        border-right-width: 2px;
    }

    .border-image-top-left {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 40%);
        height: calc(100% - 40%);
        transform: translate(-12px, -15px);
        border-top-left-radius: 50px;
        border-top-color: #c51a24;
        border-top-width: 4px;
        border-left-color: #c51a24;
        border-left-width: 2px;
    }

    .border-image-bottom-right {
        position: absolute;
        bottom: 0;
        right: 0;
        width: calc(100% - 40%);
        height: calc(100% - 40%);
        transform: translate(15px, 15px);
        border-bottom-right-radius: 50px;
        border-bottom-color: #c51a24;
        border-bottom-width: 4px;
        border-right-color: #c51a24;
        border-right-width: 2px;
    }
}

.overlaying {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: rgb(255, 255, 255);
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 73%,
        rgb(255, 255, 255) 100%
    );
}

// .overlaying-ltr {

// }

// .overlaying-rtl {
//     background: linear-gradient(
//         270deg,
//         rgba(255, 255, 255, 0) 0%,
//         rgba(255, 255, 255, 0) 73%,
//         rgb(255, 255, 255) 100%
//     );
// }

.movie-details-page {
    padding-left: unset !important;

    .card-cont {
        @apply sm:w-[50%] w-[60%];
    }
    .img-border {
        border-radius: 20px;
    }
    .movie-card {
        .title {
            @apply font-bold !text-[18px] capitalize min-w-[105px];
        }
    }
    .details {
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        gap: 40px;
        .title {
            @apply font-bold text-[12px] capitalize min-w-[105px];
        }
        .description {
            @apply text-[11px] capitalize;
        }
        .icon {
            border-radius: 50%;
            max-width: 50px;
            min-width: 50px;
            height: 50px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }

    .no-shows-message {
        @apply rounded-full bg-primary-color w-fit px-4 py-2 text-white uppercase text-[10px] font-bold tracking-[1.9px];
    }
    .dates-list-cont {
        display: flex;
        overflow-y: auto;
    }
    .date-item {
        &.active {
            opacity: 1;
            background: rgba(163, 1, 1, 0.1019607843);
            .day {
                color: #c51a24;
            }
            .d-name {
                color: #c51a24;
            }
        }

        border-radius: 20px;
        padding: 8px;
        box-sizing: border-box;
        background: white;
        opacity: 0.3;
        margin: 1%;
        width: 17%;
        min-width: 48px;
        cursor: pointer;
        .day {
            text-align: center;
            @apply font-medium;
            line-height: 25px;
            font-size: 12px;
            letter-spacing: 1.2px;
            color: black;
            text-transform: uppercase;
        }
        .d-name {
            text-align: center;
            @apply font-extrabold;
            line-height: 20px;
            font-size: 12px;
            letter-spacing: 1.4px;
            color: black;
            text-transform: uppercase;
        }
    }

    .theater-data-container {
        .theater-name {
            @apply font-bold text-[12px] uppercase ltr:tracking-[2.1px] rtl:tracking-[0px];

            line-height: 18px;
            margin: 30px 0 10px 0;
            // letter-spacing: 2.1px;
        }
        .zone {
            background: #c51a24;
            padding: 8px 20px;
            color: white;
            border-radius: 20px;
            text-align: center;
            width: fit-content;
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 1.1px;
            color: #ffffff;
            text-transform: uppercase;
        }
        .timing-list {
            display: flex;
            gap: 4px;
            flex-wrap: nowrap;
            width: 100%;
            overflow: auto;
        }
        .time-button {
            margin-bottom: 15px;
            transition: all 0.3s;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;

            .active-text {
                @apply font-extrabold #{!important};
            }
            &.active {
                .active-color {
                    opacity: 1;
                    background: rgba(163, 1, 1, 0.1019607843);
                }

                .active-text {
                    color: #c51a24;
                }
            }
            input {
                max-width: max-content;
                opacity: 0 !important;
                display: none;
            }
            .data {
                display: flex;
                height: 40px;
            }

            .text {
                margin-left: 20px;
                font-size: 15px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 0px;
                color: #000000;
                text-transform: capitalize;
                display: flex;
                align-items: center;
            }
            .icon-seat {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                color: #c51a24;
            }
        }
    }
    .quantity {
        height: 50px;
        border-radius: 28px;
        border: 1px solid rgba(0, 0, 0, 0.0784313725);
        display: flex;
        align-items: center;
        button {
            background-color: unset;
            border: unset;
            outline: unset;
            cursor: pointer;
            font-size: 25px;
            color: #c51a24;
            width: 30%;
        }
        input {
            border: unset;
            outline: unset;
            width: 40%;
            display: flex;
            text-align: center;
            font-weight: 800;
            font-size: 14px;
        }
    }
    .youtube-btn {
        display: flex;
        cursor: pointer;
        column-gap: 20px;
        background-color: rgba(255, 255, 255, 0.5);
        align-items: center;
        border-radius: 30px;
        height: 40px;
        i {
            @apply text-[18px] primary-color;
        }

        .play-icon {
            border-radius: 30px;
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
        }
        .play-text {
            padding-right: 30px;
            @apply text-white uppercase tracking-[1.9px] text-[10px] font-bold;
        }
    }
}
.contact-us {
    i {
        @apply primary-color text-[15px];
    }
    span {
        @apply font-medium text-[12px] capitalize;
    }
}
.eye-icon-position {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    // right: 10px;
    @apply rtl:left-[10px] ltr:right-[10px];
}
.register,
.login {
    .auth-form {
        @apply sm:w-[37%] w-full main-container;

        padding-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 45px;
    }

    .iti {
        width: 100%;
    }

    .input-group {
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.1019607843);
        border-radius: 15px;
        height: 50px;
        // margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            border: unset;
            outline: unset;
            width: 90%;
        }
    }

    .unordered-list {
        ul {
            list-style: disc;
            font-size: 13px;
            margin-left: 40px;
            margin-top: 20px;
            line-height: 20px;
        }
    }

    .radio {
        input[type="radio"] {
            position: absolute;
            opacity: 0;
        }

        input[type="radio"]:focus + .radio-label:before {
            outline: none;
            border-color: #c51a24;
        }

        input[type="radio"]:checked + .radio-label:before {
            background-color: #c51a24;
            box-shadow: inset 0 0 0 4px #f4f4f4;
        }

        input[type="radio"] + .radio-label:before {
            content: "";
            background: #f4f4f4;
            border-radius: 100%;
            border: 1px solid #b4b4b4;
            display: inline-block;
            width: 1.4em;
            height: 1.4em;
            position: relative;
            top: 2px;
            margin-right: 1em;
            vertical-align: top;
            cursor: pointer;
            text-align: center;
            transition: all 250ms ease;
        }

        .radio-label {
            font-size: 14px;
        }
    }
}
.link-button {
    @apply sm:flex-row flex-col items-center gap-2 font-bold flex text-[10px] justify-center uppercase tracking-[1.9px];
}
.profile-details {
    .bold-text {
        @apply uppercase text-[11px] font-bold opacity-75 leading-6 tracking-[1.3px];
    }
    .normal-text {
        @apply font-normal text-[11px];
    }
}

input {
    @apply text-[12px] #{!important};
}
.account {
    input::placeholder {
        @apply uppercase font-bold text-[10px] tracking-[1.9px];
    }

    .iti {
        @apply w-full;
    }
}

input::placeholder {
    @apply uppercase font-bold text-[10px] tracking-[1.9px];
}

.account-menu {
    @apply w-[80%];
    .account-menu-text {
        @apply capitalize font-bold text-[12px] items-center tracking-[1.5px] flex flex-row justify-between border-b border-black-100 pb-4 mt-3;
        i {
            @apply primary-color font-bold;
        }
        &.active {
            .arrow {
                @apply primary-color font-bold block;
            }
        }
        .arrow {
            @apply hidden;
        }
    }
}
.form-button {
    @apply bg-primary-color font-bold px-10 sm:py-3 py-2 text-white uppercase rounded-full tracking-[1.9px] text-[12px] hover:bg-black;
}
.input-group {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1019607843);
    border-radius: 15px;
    height: 50px;
    // margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        border: unset;
        outline: unset;
        width: 90%;
    }
}

.favorites {
    .genres {
        gap: 0.25rem !important;
    }

    .genres-text {
        font-size: 9px !important;
    }
}
[dir="rtl"] .custom-table {
    th {
        text-align: right;
    }
}
.custom-table {
    width: 100%;
    border-collapse: collapse;
    tr {
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    }
    &.purch {
        thead {
            tr {
                th {
                    font-size: 11px;
                }
            }
        }
    }
    thead {
        tr {
            th {
                font-size: 10px;
                padding: 10px 0;
                text-align: left;
                @apply font-bold;
                line-height: 13px;
                letter-spacing: 1px;
                color: #000000b3;
                text-transform: uppercase;
            }
        }
    }
    tbody {
        tr {
            td {
                padding: 15px 0;
                // font-size: 12px;
                @apply font-medium sm:text-[12px] text-[11px];
                line-height: 18px;
                letter-spacing: 0px;
                color: #000000;
                text-transform: capitalize;
            }
            &.last {
                border-bottom: unset;
                .money {
                    color: red;
                }
            }
        }
    }
    &.equal {
        tr {
            td {
                width: 25%;
            }
        }
    }
}

.loyalty-card {
    .card-position {
        @apply absolute  top-0 bottom-0 left-0 right-0 flex justify-center flex-col h-full items-center;
    }

    .name {
        @apply font-bold capitalize text-[14px] text-center text-white leading-7;
    }
    .email {
        @apply font-normal  text-[12px] text-center text-white;
    }
}

.tabs {
    .tabs-text {
        @apply font-bold uppercase tracking-[1.2px] text-[12px];

        &.active {
            @apply primary-color;
        }
    }
}
@media (max-width: 640px) {
    .border-card {
        width: 100% !important;
    }
}
.reward-card {
    .border-card {
        @apply rounded-xl sm:w-full pl-5 pr-10 py-4;
        border: 1px solid rgba($color: #000000, $alpha: 0.2);
        width: calc(100% - 150px);
    }

    .card-text {
        @apply font-bold capitalize leading-9 line-clamp-3;
    }

    .card-description {
        @apply font-normal text-[10px] line-clamp-3;
    }
}
[dir="rtl"] .request-quotations .table-body .item .item-head .icon-container {
    left: 0 !important;
    right: unset !important;
}
.request-quotations {
    @apply mt-[25px] w-full;
    .table-head {
        @apply grid grid-cols-12 border-b border-b-[#818386] pb-2;
        .head-item {
            @apply col-span-4 text-black opacity-70 text-[11px] font-[600] uppercase tracking-[1.25px];
        }
    }
    .table-body {
        @apply w-full flex flex-col;
        .item {
            @apply w-full cursor-pointer;
            .item-head {
                @apply grid grid-cols-12 items-center relative py-4 border-b border-b-[rgba(70,71,73,0.2)];
                .info-title {
                    @apply col-span-4 text-[11px] 2xl:text-sm font-semibold capitalize text-black opacity-70;
                }
                .icon-container {
                    @apply absolute top-1/2 right-0 primary-color;
                    transform: translateY(-50%);
                    transition: all 0.5s ease;
                }
                .status {
                    @apply text-xs 2xl:text-sm text-white rounded-[15px] py-1.5 px-3 w-fit;
                    &.complete {
                        @apply bg-primary-color;
                    }
                    &.pending {
                        @apply bg-[#818386];
                    }
                }
            }
            .item-body {
                @apply w-full h-[0px] invisible  flex sm:flex-row flex-col justify-between;
                //transition: all 0.5s ease;
                .body-title {
                    @apply font-bold text-xs 2xl:text-sm primary-color tracking-[1.5px] uppercase mb-[5px];
                }
                .order-summary {
                    @apply sm:w-[60%] w-full h-fit bg-white pt-5 pr-5 pl-20 flex flex-col pb-6;

                    .body-item {
                        @apply py-[8px] flex flex-row sm:pr-10 pr-0;
                        // &:not(:last-child) {
                        @apply border-b border-b-[rgba(70,71,73,0.2)];
                        // }

                        &.head {
                            @apply text-[10px] uppercase opacity-60 tracking-[1.3px] font-bold;
                        }

                        &.body {
                            @apply text-[10px] uppercase  py-4 tracking-[1.3px] font-bold;
                        }
                        p {
                            @apply text-xs capitalize font-medium text-gray-600 w-[50%];
                        }
                    }
                }
                .list-details {
                    @apply sm:w-[40%] w-full h-fit bg-white border-r  pt-5 flex flex-col gap-[10px];
                    .name {
                        @apply font-bold text-[14px] capitalize;
                    }
                    .list-section {
                        @apply pt-3;
                    }
                    .section-title {
                        @apply font-bold text-[12px] pb-3;
                    }
                    // @apply flex flex-col;
                    .listing-items {
                        @apply flex flex-col gap-3 pb-5;

                        .title {
                            @apply text-black leading-7 opacity-70 tracking-[1.3px] font-bold text-[10px] uppercase;
                        }
                        .subtitle {
                            @apply text-[12px] font-normal;
                        }
                    }

                    // .product {
                    //     @apply flex flex-row items-center gap-[10px];
                    //     &:not(:last-child) {
                    //         @apply border-b border-b-[rgba(70,71,73,0.2)];
                    //     }
                    //     img {
                    //         @apply w-[75px] h-[75px];
                    //     }
                    //     .product-title {
                    //         @apply font-medium text-xs 2xl:text-sm text-gray-600;
                    //     }
                    // }
                }
            }
            &.active {
                .item-head {
                    @apply border-none;
                    .icon-container {
                        transform: translateY(-50%) rotate(180deg);
                        transition: all 0.5s ease;
                    }
                }
                &:not(:last-child) {
                    @apply border-b border-b-[rgba(70,71,73,0.2)];
                }
                .item-body {
                    @apply h-full visible  pb-[40px];
                    //transition: all 0.5s ease;
                }
            }
        }
    }
}

.empty-text {
    @apply pt-5 primary-color ltr:text-left rtl:text-right uppercase text-[12px] font-bold;
}

.account-page {
    @apply grid sm:grid-cols-12 grid-cols-1 sm:gap-10 gap-3 pt-5;
}
.slide-box-container {
    @apply flex ltr:justify-start rtl:justify-end;
    .slideshow-text-position {
        @apply absolute max-w-[380px] sm:bottom-[20%] bottom-[20%] z-10;

        .position-align {
            @apply flex flex-col sm:gap-8 gap-5;
        }
    }
}
[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
    outline-offset: 0px !important;
    outline: 0.5px solid black !important;
    --tw-ring-offset-width: 0px !important;
    --tw-ring-offset-color: transparent !important;
    --tw-ring-color: transparent !important;
}

.theater-info {
    .title {
        @apply capitalize font-light text-[12px];
    }

    .subtitle {
        @apply capitalize font-bold text-[12px];
    }
}

.cart-info {
    @apply flex  sm:flex-row flex-col  pt-5  gap-6;

    .name {
        @apply font-bold text-[16px] capitalize pb-4;
    }

    .details-container {
        @apply flex flex-row gap-4 pb-3;
    }

    i {
        @apply primary-color  font-bold;
    }

    .title {
        @apply text-[#4C4C4C] font-bold uppercase tracking-[1.5px] text-[10px];
    }

    .subtitle {
        @apply font-light text-[11px];
    }
}
.separator-line {
    // @apply border-gray-100 ;
    border: 0.9px solid #e5e5e5;
}

.event-box-active {
    @apply border border-dashed border-red-500 rounded-lg #{!important};
}
