@import "../../vendor/twa/cmsv2/src/Resources/scss/app.scss";

@import "@fancyapps/ui/dist/carousel/carousel.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./cinema.scss";
@import "./asp.scss";
@import "/node_modules/intl-tel-input/build/css/intlTelInput.css";
// body {
//     font-family: "'Source Sans Pro', sans-serif", "Segoe UI", "Helvetica Neue",
//         Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
//         "Segoe UI Symbol", "Noto Color Emoji";
// }
.booking-management {
    .day-box {
        padding: 10px;
        border-radius: 10px;
        @apply bg-gray-100 text-[.8125rem] leading-[1.125rem] text-gray-800 font-medium;

        &.day-box-active {
            @apply bg-gray-300;
        }
    }

    .title-label {
        font-size: 0.9rem;
        line-height: 1.5rem;
        font-weight: 600;
        color: #071437;
    }

    // .current-date{
    //     @apply bg-red-600;
    // }
    .text-label {
        @apply text-[12px];
        line-height: 25px;
    }
}

html[dir="rtl"] {
    body {
        text-align: right;
        direction: rtl;
        letter-spacing: 0 !important;

        p,
        h1,
        button,
        div,
        a {
            letter-spacing: 0 !important;
        }
        .movie-details-page {
            text-align: left;
            direction: ltr;
         
        }
    }
}
html[dir="ltr"] {
    body {
        text-align: left;
        direction: ltr;
    }
}
