@import "../../vendor/twa/cmsv2/src/Resources/scss/app.scss";

// @import "../../vendor/twa/uikit/dist/app-BEqn0Z63.css";

@import "@fancyapps/ui/dist/carousel/carousel.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "/resources/css/fontAwesome/all.css";
@import "/resources/css/fontAwesome/duotone-light.css";
@import "/resources/css/fontAwesome/duotone-regular.css";
@import "/resources/css/fontAwesome/duotone-thin.css";
@import "/resources/css/fontAwesome/sharp-duotone-light.css";
@import "/resources/css/fontAwesome/sharp-duotone-regular.css";
@import "/resources/css/fontAwesome/sharp-duotone-solid.css";
@import "/resources/css/fontAwesome/sharp-duotone-thin.css";
@import "/resources/css/fontAwesome/sharp-light.css";
@import "/resources/css/fontAwesome/sharp-regular.css";
@import "/resources/css/fontAwesome/sharp-solid.css";
@import "/resources/css/fontAwesome/sharp-thin.css";
@import "./cinema.scss";
@import "./asp.scss";
@import "/node_modules/intl-tel-input/build/css/intlTelInput.css";

// body {
//     font-family: "'Source Sans Pro', sans-serif", "Segoe UI", "Helvetica Neue",
//         Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
//         "Segoe UI Symbol", "Noto Color Emoji";
// }
.booking-management {
    .day-box {
        padding: 10px;
        border-radius: 10px;
        @apply bg-gray-100 text-[.8125rem] leading-[1.125rem] text-gray-800 font-medium;

        &.day-box-active {
            @apply bg-gray-300;
        }
    }

    .title-label {
        font-size: 0.9rem;
        line-height: 1.5rem;
        font-weight: 600;
        color: #071437;
    }

    // .current-date{
    //     @apply bg-red-600;
    // }
    .text-label {
        @apply text-[12px];
        line-height: 25px;
    }
}

html[dir="rtl"] {
    body {
        text-align: right;
        direction: rtl;
        letter-spacing: 0 !important;

        p,
        h1,
        button,
        div,
        a {
            letter-spacing: 0 !important;
        }
        .movie-details-page {
            text-align: left;
            direction: ltr;
        }
    }
}
html[dir="ltr"] {
    body {
        text-align: left;
        direction: ltr;
    }
}

//calendar
.twa-table-card {
    position: relative;
    .twa-table-card-disabled-message {
        display: none;
    }

    &.twa-table-card-disabled {
        &:after {
            content: "";
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: rgba(#ffffff, 0.9);
            position: absolute;
            z-index: 10;
        }

        .twa-table-card-disabled-message {
            display: block;
            position: absolute;
            top: 15%;
            left: 50%;
            transform: translateX(-50%);
            width: 400px;
            height: 40px;
            font-size: 14px;

            text-align: center;
            color: rgb(75 86 117);
            z-index: 11;
        }
    }
}

//movie form
.twa-loading-panel-message {
    display: none;
}

.twa-loading-panel {
    position: relative;

    &:after {
        content: "";
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(#ffffff, 0.8);
        position: absolute;
        z-index: 10;
    }

    .twa-loading-panel-message {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        height: 40px;
        font-size: 14px;
        text-align: center;
        color: rgb(75 86 117);
        z-index: 11;
    }
}